<div
  id="container"
  class="max-w-xl bg-[#c3c3c3] m-2 p-2 border-neutral-100 border-2 border-r-neutral-700 border-b-neutral-700 mx-auto"
>
  <a
    class="text-blue-500 font-serif visited:text-purple-500 underline"
    href="/login"
  >
    <img
      class="inline-block h-5"
      style="image-rendering: pixelated"
      src="/assets/icons/leftarrow.gif"
      alt="left arrow"
    />
    Go to login</a
  >
  <h1
    class="text-xl text-white font-mono font-bold p-1 px-2 my-1"
    style="background: radial-gradient(#04029b, #050369)"
  >
    Please <u>register</u> guy
  </h1>
  {{ template "auth/forms/register" .}}
</div>
