<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon" />
    <title>Todo App from the future</title>
    <script src="https://unpkg.com/htmx.org@1.9.7"></script>
    <link rel="stylesheet" href="/assets/style.css" />
    <style>
      body {
        background: url("/assets/space.gif") repeat;
        /* background: url("/assets/starstwinkle.gif") repeat; */
      }
    </style>
  </head>
  <body class="bg-black">
    <div class="mx-auto px-2 container" hx-boost="true" id="app">
      <header class="flex items-center gap-2 justify-center my-3">
        <img class="block h-10" style="image-rendering: pixelated" src="/assets/icons/cuppa0e.gif" alt="coffee" />
        <marquee
          class="max-w-lg text-6xl border-x-2 font-bold font-serif text-yellow-600 drop-shadow-lg shadow-yellow-300"
          direction="left">TODO APP FROM THE FUTURE</marquee
        >
        <img class="block h-10" style="image-rendering: pixelated" src="/assets/icons/coffee_set2c.gif" alt="coffee" />
      </header>

      <img src="/assets/icons/star_separator.gif" class="mx-auto" alt="separator" />

      <main class="p-4 mt-4 mx-auto">{{ embed }}</main>

      <footer>
        <div class="flex gap-2 flex-wrap justify-center space-x-2 p-4 mt-4 border bg-white/10 shadow-sm text-white">
          <img
            class="inline-block h-10"
            style="image-rendering: pixelated"
            src="/assets/icons/createdwith.jpeg"
            alt="PROUDLY MADE WITH HTMX AND GOLANG"
            title="PROUDLY MADE WITH HTMX AND GOLANG"
          />
          <img class="block h-10" style="image-rendering: pixelated" src="/assets/icons/button.gif" alt="coffee" />
          <img
            class="block h-10"
            style="image-rendering: pixelated"
            src="/assets/icons/geocitieswww.gif"
            alt="coffee"
          />

          <img
            class="block h-10"
            style="image-rendering: pixelated"
            src="/assets/icons/worldwideweb_badge.gif"
            alt="coffee"
          />

          <img
            class="block h-10"
            style="image-rendering: pixelated"
            src="/assets/icons/dollarspindownd.gif"
            alt="coffee"
          />
          <img
            class="block h-10"
            style="image-rendering: pixelated"
            src="/assets/icons/rotating_square.gif"
            alt="coffee"
          />
          <div class="flex place-content-center items-center bg-black p-2">
            <p>
              <a class="text-sm underline font-mono text-white" href="https://github.com/sachahjkl/htmx-go"
                >Source code</a
              >
            </p>
          </div>
          <img
            class="inline-block h-10"
            style="image-rendering: pixelated"
            src="/assets/icons/fastweb.gif"
            alt="coffee"
          />
          <img
            class="inline-block h-10"
            style="image-rendering: pixelated"
            src="/assets/icons/fairlite.gif"
            alt="coffee"
          />
        </div>
        <div class="max-w-sm text-center mx-auto opacity-20 hover:opacity-100 transition duration-500">
          {{ template "common/version" .}}
        </div>
      </footer>
    </div>
  </body>
</html>
