<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon" />
    <title>Todo App from the future</title>
    <script src="https://unpkg.com/htmx.org@1.9.7"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              comic: ["Comic sans MS", "Comic Sans", "cursive"],
            },
            colors: {
              clifford: "#da373d",
            },
          },
        },
      };
    </script>

    <style>
      body {
        background: url("/assets/space.gif") repeat;
        /* background: url("/assets/starstwinkle.gif") repeat; */
      }
    </style>
  </head>
  <body class="bg-black">
    <div class="mx-auto px-2 container" hx-boost="true" id="app">
      <header class="flex items-center gap-2 justify-center my-3">
        <img class="block h-10" style="image-rendering: pixelated" src="/assets/icons/cuppa0e.gif" alt="coffee" />
        <marquee
          class="max-w-lg text-6xl border-x-2 font-bold font-serif text-yellow-600 drop-shadow-lg shadow-yellow-300"
          direction="left"
          >TODO APP FROM THE FUTURE</marquee
        >
        <img class="block h-10" style="image-rendering: pixelated" src="/assets/icons/coffee_set2c.gif" alt="coffee" />
      </header>

      <img src="/assets/icons/star_separator.gif" class="mx-auto" alt="separator" />

      <main class="p-4 mt-4 mx-auto">{{ embed }}</main>

      <footer>
        <div class="flex gap-2 flex-wrap justify-center space-x-2 p-4 mt-4 border bg-white/10 shadow-sm text-white">
                    <img
            class="inline-block h-10"
            style="image-rendering: pixelated"
            src="/assets/icons/createdwith.jpeg"
            alt="PROUDLY MADE WITH HTMX AND GOLANG"
            title="PROUDLY MADE WITH HTMX AND GOLANG"
          />
          <img class="block h-10" style="image-rendering: pixelated" src="/assets/icons/button.gif" alt="coffee" />
          <img
            class="block h-10"
            style="image-rendering: pixelated"
            src="/assets/icons/geocitieswww.gif"
            alt="coffee"
          />

          <img
            class="block h-10"
            style="image-rendering: pixelated"
            src="/assets/icons/worldwideweb_badge.gif"
            alt="coffee"
          />

          <img
            class="block h-10"
            style="image-rendering: pixelated"
            src="/assets/icons/dollarspindownd.gif"
            alt="coffee"
          />
          <img
            class="block h-10"
            style="image-rendering: pixelated"
            src="/assets/icons/rotating_square.gif"
            alt="coffee"
          />
          <div class="flex place-content-center items-center bg-black p-2">
            <svg
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 100 92"
              style="enable-background: new 0 0 100 92"
              xml:space="preserve"
              class="h-5 w-5 mx-1"
            >
              <style type="text/css">
                .st0 {
                  fill: #e24329;
                }
                .st1 {
                  fill: #fc6d26;
                }
                .st2 {
                  fill: #fca326;
                }
              </style>
              <desc>Created with Sketch.</desc>
              <g>
                <path
                  class="st0"
                  d="M95.9,36.5l-0.1-0.3L82.8,2.4c-0.3-0.7-0.7-1.2-1.3-1.6c-0.6-0.4-1.3-0.6-2-0.5c-0.7,0-1.4,0.3-2,0.7   c-0.6,0.4-1,1.1-1.1,1.7l-8.7,26.7H32.3L23.6,2.7C23.4,2.1,23,1.4,22.5,1c-0.6-0.4-1.2-0.7-2-0.7c-0.7,0-1.4,0.1-2,0.5   c-0.6,0.4-1.1,0.9-1.3,1.6L4.2,36.1l-0.1,0.3c-3.8,10-0.6,21.3,8,27.7c0,0,0,0,0,0l0.1,0.1l19.7,14.7l9.7,7.4l5.9,4.5   c1.4,1.1,3.4,1.1,4.8,0l5.9-4.5l9.7-7.4l19.8-14.8c0,0,0,0,0.1,0C96.5,57.8,99.7,46.5,95.9,36.5z"
                />
                <path
                  class="st1"
                  d="M95.9,36.5l-0.1-0.3c-6.4,1.3-12.3,4-17.4,7.8C78.3,44,63,55.6,50,65.4c9.7,7.3,18.1,13.7,18.1,13.7l19.8-14.8   c0,0,0,0,0.1,0C96.5,57.8,99.7,46.5,95.9,36.5z"
                />
                <path
                  class="st2"
                  d="M31.9,79.1l9.7,7.4l5.9,4.5c1.4,1.1,3.4,1.1,4.8,0l5.9-4.5l9.7-7.4c0,0-8.4-6.4-18.1-13.7   C40.3,72.7,31.9,79.1,31.9,79.1z"
                />
                <path
                  class="st1"
                  d="M21.6,43.9c-5.1-3.8-11-6.5-17.4-7.8l-0.1,0.3c-3.8,10-0.6,21.3,8,27.7c0,0,0,0,0,0l0.1,0.1l19.7,14.7   c0,0,8.4-6.4,18.1-13.7C37,55.6,21.7,44,21.6,43.9z"
                />
              </g>
            </svg>
            <p>
              <a class="text-sm underline font-mono text-white" href="https://gitlab.com/sachahjkl/htmx-go"
                >Source code</a
              >
            </p>
          </div>
          <img
            class="inline-block h-10"
            style="image-rendering: pixelated"
            src="/assets/icons/fastweb.gif"
            alt="coffee"
          />
          <img
            class="inline-block h-10"
            style="image-rendering: pixelated"
            src="/assets/icons/fairlite.gif"
            alt="coffee"
          />

        </div>
        <div class="max-w-sm text-center mx-auto opacity-20 hover:opacity-100 transition duration-500">
          {{ template "common/version" .}}
        </div>
      </footer>
    </div>
  </body>
</html>
