<form hx-post="/login" hx-swap="outerHTML" hx-target="this" class="w-full">
  {{ template "common/errors" . }} {{ template "common/success" . }}
  <div>
    <label class="block" for="username">Username: </label>
    <input
      class="w-full border-2 border-sky-500 px-2 py-1 font-mono"
      type="text"
      name="username"
      id="username"
      value="{{.Username}}"
      placeholder="Your own unique username !"
      minlength="{{.UsernameMinLength}}"
      required
    />
  </div>

  <div>
    <label for="password">Password: </label>
    <input
      class="w-full border-2 border-sky-500 px-2 py-1 font-mono"
      type="password"
      name="password"
      id="password"
      placeholder="Work your memory"
      required
      minlength="6"
    />
  </div>

  <button
    class="my-2 flex items-center gap-2 active:bg-[rgb(150,150,150)] hover:bg-[rgb(170,170,170)] px-2 py-1 border-2 border-neutral-100 border-r-neutral-700 border-b-neutral-700 bg-[rgb(204,204,204)] font-bold font-mono"
    type="submit"
  >
    <img
      class="inline-block h-4"
      style="image-rendering: pixelated"
      src="/assets/icons/floppy.gif"
      alt="coffee"
    />
    Login
  </button>
</form>
