<section id="todos">
  <ul>
    {{ range .Todos }}
    <li
      hx-put="/todos/{{.ID}}/toggle"
      hx-target="#todos"
      hx-swap="outerHTML"
      class="flex items-center select-none bg-neutral-100 hover:bg-neutral-200 rounded-md p-2 px-4 my-2"
    >
      <svg
        class="grow-0 w-5 h-5 mr-2 transition-all cursor-pointer hover:scale-110 active:scale-90
          {{ if .Done }}
          text-green-500 dark:text-green-400 
          {{ else }}
          text-gray-500 dark:text-gray-400
          {{end}}
          
          flex-shrink-0"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
        hx-put="/todos/{{.ID}}/toggle"
        hx-target="#todos"
        hx-swap="outerHTML"
      >
        <path
          d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
        />
      </svg>

      <span class="grow {{ if .Done }}line-through{{ end }}">{{ .Title }}</span>
      <span
        class="mr-2 text-lg transition-all cursor-pointer hover:scale-110 active:scale-90 grow-0"
        title="Remove task"
        hx-delete="/todos/{{.ID}}"
        hx-target="#todos"
        hx-swap="outerHTML"
        hx-confirm='Are your sure you want to delete the task "{{.Title}}" ?'
        >❌</span
      >
    </li>
    {{ else }}
    <p class="text-black/40 text-sm w-full text-center">
      Nothing to see here 🕳
    </p>
    {{ end }}
  </ul>
</section>
