<div
  id="container"
  class="max-w-xl bg-[#c3c3c3] m-2 p-2 space-y-2 border-neutral-100 border-2 border-r-neutral-700 border-b-neutral-700 mx-auto"
>
  <button
    hx-get="/todos"
    hx-push-url="true"
    hx-target="#container"
    hx-swap="outerHTML"
    class="items-center block w-max active:bg-[rgb(150,150,150)] hover:bg-[rgb(170,170,170)] active:border-neutral-700 active:border-r-neutral-100 active:border-b-neutral-100 px-2 py-1 border-2 border-neutral-100 border-r-neutral-700 border-b-neutral-700 bg-[rgb(204,204,204)] font-bold font-mono"
  >
    <img class="inline-block h-6" style="image-rendering: pixelated" src="/assets/icons/back2.gif" alt="coffee" />
    Return to Todos
  </button>

  <h1 class="text-xl text-white font-mono font-bold p-1 px-2" style="background: radial-gradient(#04029b, #050369)">
    <img class="inline-block h-6" style="image-rendering: pixelated" src="/assets/icons/insanewrench.gif" alt="settings icon" /> <span class="italic">{{.Username}}</span>'s settings 
  </h1>

  <p>Some settings for you !</p>

  <div class="flex gap-3 flex-wrap justify-items-start">
      <a
        class="flex items-center gap-2 active:bg-[rgb(150,150,150)] hover:bg-[rgb(170,170,170)] px-2 py-1 border-2 border-neutral-100 border-r-neutral-700 border-b-neutral-700 active:border-neutral-700 active:border-r-neutral-100 active:border-b-neutral-100 bg-[rgb(204,204,204)] font-bold font-mono"
        href="/todos/export"
        hx-boost="false"
        title="Export your todos to JSON"
      >
        <img class="inline-block h-6" style="image-rendering: pixelated" src="/assets/icons/floppy.gif" alt="coffee" />
      </a>
      <a
        class="flex items-center gap-2 active:bg-[rgb(150,150,150)] hover:bg-[rgb(170,170,170)] px-2 py-1 border-2 border-neutral-100 border-r-neutral-700 border-b-neutral-700 active:border-neutral-700 active:border-r-neutral-100 active:border-b-neutral-100 bg-[rgb(204,204,204)] font-bold font-mono"
        href="/todos/export"
        hx-boost="false"
        title="Export your todos to JSON"
      >
        <img class="inline-block h-6" style="image-rendering: pixelated" src="/assets/icons/floppy.gif" alt="coffee" />
        Export to JSON
      </a>
      <a
        class="flex items-center gap-2 active:bg-[rgb(150,150,150)] hover:bg-[rgb(170,170,170)] px-2 py-1 border-2 border-neutral-100 border-r-neutral-700 border-b-neutral-700 active:border-neutral-700 active:border-r-neutral-100 active:border-b-neutral-100 bg-[rgb(204,204,204)] font-bold font-mono"
        href="/todos/export"
        hx-boost="false"
        title="Export your todos to JSON"
      >
        <img class="inline-block h-6" style="image-rendering: pixelated" src="/assets/icons/floppy.gif" alt="coffee" />
        Clear all
      </a>
      <a
        class="flex items-center gap-2 active:bg-[rgb(150,150,150)] hover:bg-[rgb(170,170,170)] px-2 py-1 border-2 border-neutral-100 border-r-neutral-700 border-b-neutral-700 active:border-neutral-700 active:border-r-neutral-100 active:border-b-neutral-100 bg-[rgb(204,204,204)] font-bold font-mono"
        href="/todos/export"
        hx-boost="false"
        title="Export your todos to JSON"
      >
        <img class="inline-block h-6" style="image-rendering: pixelated" src="/assets/icons/floppy.gif" alt="coffee" />
        Clear done
      </a>

      <a
        class="flex items-center gap-2 active:bg-[rgb(150,150,150)] hover:bg-[rgb(170,170,170)] px-2 py-1 border-2 border-neutral-100 border-r-neutral-700 border-b-neutral-700 active:border-neutral-700 active:border-r-neutral-100 active:border-b-neutral-100 bg-[rgb(204,204,204)] font-bold font-mono"
        href="/todos/export"
        hx-boost="false"
        title="Export your todos to JSON"
      >
        <img class="inline-block h-6" style="image-rendering: pixelated" src="/assets/icons/floppy.gif" alt="coffee" />
      </a>
    </div>
</div>
